.aboutus-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.profile-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    width: 420px;
    height: 470px;
    border-radius: 50%;
    object-fit: cover;
    transform: scaleX(-1);
    position: relative;
    z-index: 1;
    margin-left: -50px;
}

.namelogo {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 400px;
    margin-top: 700px;
    margin-left: 330px;
}

.aboutus-quote{
    font-family: "Handlee", cursive;
    width: 400px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 90px;
    margin-left: 20px;
}

.aboutus-maintext{
    width: 850px;
    font-family: "Handlee", cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
}

.aboutus-maintext2{
    margin-top: 30px;
}
.aboutus-maintext3{
    margin-top: 30px;
}

.aboutus-maintext4{
    margin-top: 30px;
}

.aboutus-maintext5{
    margin-top: 30px;
}

.aboutus-socialmedia{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 90px;

}

.aboutus-instagram-icon{
    width: 50px;
}

.connect-aboutus{
    background-color: #7F9F65;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.aboutus-socialhandle{
    font-size: 35px;
    color: black;
    margin-left: 10px;
    font-family: 'Josefin Slab', sans-serif;
}

.sticker{
    width: 270px;
    height: auto;
}
