/* Login.css */
/* Login.css */

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;  // Ensure it's above the overlay
width: 300px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

/* Connect.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  // Semi-transparent overlay
z-index: 5;  // Lower than the modal but above everything else
}


.mainlogo1{
    width: 300px;
}

.login-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.login-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.loginbutton {
    padding: 10px;
    background-color: #90BE6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.loginbutton:hover {
    background-color: grey;
    color: white;
}
