/* Calendar Day Styles */
.full-calendar-day {
    color: black; /* Default text color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px; /* Center the text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Center the circle */
    transition: background-color 0.3s ease; /* Smooth transition for color changes */
}

/* Phase Color Styles */
.full-calendar-day.red {
    background-color: rgba(255, 0, 0, 0.3);
    color: white;
}

.full-calendar-day.green {
    background-color: rgba(0, 255, 0, 0.3);
    color: white;
}

.full-calendar-day.orange {
    background-color: rgba(255, 165, 0, 0.3);
    color: white;
}

.full-calendar-day.blue {
    background-color: rgba(0, 0, 255, 0.3);
    color: white;
}

/* Highlight Selected Date */
.full-calendar-day.selected {
    border: 2px solid black;
}




/* Empty Day Style */
.full-calendar-day.empty {
    background-color: transparent;
    visibility: hidden;
}

/* Overlay and Container */
.full-calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.full-calendar {
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Header */
.full-calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 30px;
}

.full-calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.full-calendar-header span {
    font-size: 20px;
    font-weight: bold;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/* Grid */
.full-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.full-calendar-day-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* Actions */
.full-calendar-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.edit-period-dates, .save-button {
    background-color: var(--red);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Disabled save button */
.save-button:disabled {
    background-color: #ccc; /* Grey color */
    color: #333;
    cursor: not-allowed; /* Change cursor to indicate non-clickable state */
}

/* Active save button */
.save-button.active {
    background-color: green; /* Active color for save button */
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.error-message-container {
    text-align: center;
    margin-top: 10px;
}


.error-subtext {
    color: black;
    font-size: 14px; /* Smaller font size */
    font-style: italic;
    margin-top: 0; /* No margin on top to ensure it stays close to the error message */
    padding: 0 10px; /* Add some padding for better readability */
}
