.full-calendar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.full-calendar {
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
.full-calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 30px;
}

.full-calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.full-calendar-header span {
    font-size: 20px;
    font-weight: bold;
}

.full-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.full-calendar-day {
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color 0.3s ease;
}


.full-calendar-day.red {
    background-color: var(--red);
    color: white;
}

.full-calendar-day.green {
    background-color: var(--green);
    color: white;
}

.full-calendar-day.orange {
    background-color: var(--orange);
    color: white;
}

.full-calendar-day.blue {
    background-color: var(--blue);
    color: white;
}

.full-calendar-day.editable:hover {
    background-color: grey;
    cursor: pointer;
}

.full-calendar-day.selected {
    border: 2px solid black;
}


.full-calendar-day.empty {
    background-color: transparent;
    visibility: hidden;
}


.full-calendar-day-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.full-calendar-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}



.period-button{
    background-color: var(--red);
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.period-button.grey {
    background-color: grey;
}


.period-button:hover{
    color: white;
    background-color: grey;
}

.calendar-save-button:disabled {
    background-color: #ccc;
    color: #333;
    cursor: not-allowed;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.calendar-save-button.active {
    background-color: var(--green);
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.calendar-error-message {
    color: var(--red);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.error-message-container {
    text-align: center;
    margin-top: 10px;
}

.error-subtext {
    color: black;
    font-size: 14px;
    font-style: italic;
    margin-top: 0;
    padding: 0 10px;
}


