<html>
<head>
<title>.gitignore</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #8c8c8c; font-style: italic;}
.s1 { color: #080808;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
.gitignore</font>
</center></td></tr></table>
<pre><span class="s0"># Logs</span>
<span class="s1">logs</span>
<span class="s1">*.log</span>
<span class="s1">npm-debug.log*</span>
<span class="s1">yarn-debug.log*</span>
<span class="s1">yarn-error.log*</span>
<span class="s1">pnpm-debug.log*</span>
<span class="s1">lerna-debug.log*</span>

<span class="s1">node_modules</span>
<span class="s1">dist</span>
<span class="s1">dist-ssr</span>
<span class="s1">*.local</span>

<span class="s0"># Editor directories and files</span>
<span class="s1">.vscode/*</span>
<span class="s1">!.vscode/extensions.json</span>
<span class="s1">.idea</span>
<span class="s1">.DS_Store</span>
<span class="s1">*.suo</span>
<span class="s1">*.ntvs*</span>
<span class="s1">*.njsproj</span>
<span class="s1">*.sln</span>
<span class="s1">*.sw?</span>
</pre>
</body>
</html>