.blog-page-container {
    background-color: #F6F0ED;
    min-height: 100%;
}

.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}


.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
