.omega-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.omega {
    color: white;
    width: 400px;
    height: 90px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.omega h3{
    line-height: 90px; /* Match this to the height of the .omega element */
    text-align: center;
}


.omega:hover {
    background-color: grey;
}


.omega-description {
    position: absolute; /* Add this */
    top: 120px; /* Adjust as necessary */ /* Align with the left border of the button */
    left: 60px;
    z-index: 10;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 620px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.omega-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 120px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}
