/* Connect.css */
.connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 85px;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.connect-innercontainer {
    background-color: rgba(144, 190, 109, 0.5);
    border-radius: 30px;
    color: white;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 15px 27px;
    margin-top: -120px;  /* Add space between logo and text container */
    margin-left: -40px;
}

.logo2 {
    width: 100%;  /* Make logo responsive */
    max-width: 600px;  /* Control max size */
}

.connect-container h1, .connect-container p {
    margin: 5px 0;  /* Reduced margin for compact spacing */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-left: -180px;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    background-color: #90BE6D;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
}

.buttons button:hover {
    background-color: grey;
}
