.zinc-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zinc {
    color: white;
    width: 160px;
    height: 90px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zinc h3{
    line-height: 90px; /* Match this to the height of the .zinc element */
    text-align: center;
}


.zinc:hover {
    background-color: grey;
}

.zinc-description {
    position: absolute; /* Add this */
    top: 118px; /* Adjust as necessary */
    right: -270px; /* Align with the left border of the button */
    z-index: 10;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 650px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.zinc-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 290px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}
