.image-card {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure no overflow when scaling */
    border-radius: 10px; /* Apply rounded borders to the container */
}

.image-container img {
    width: auto;
    height: 350px;
    object-fit: cover;
    border-radius: inherit; /* Inherit the border-radius from the container */
    transition: transform 0.5s ease;
    z-index: 1; /* Ensure the image is above other elements */
}

.imagecard-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ensure smooth scaling */
    background-color: rgba(0, 0, 0, 0.5); /* Dark faded background */
    border-radius: inherit; /* Inherit the border-radius from the container */
    z-index: 2; /* Ensure the overlay is above the image */
}

.image-container:hover img,
.image-container:hover .imagecard-text {
    transform: scale(1.05); /* Scale both image and overlay */
    opacity: 1; /* Show the overlay */
}

.imagecard-title {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
}
