@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* ///*recheck some of the code, especially to do with background image. I think you can get rid of a lot. Margins may create the white space*/

.home-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}



.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}


.home-inner-container{
    font-size: 2em;
    margin-left: 7em;
    margin-top: 7em;
    height: fit-content;
    width: fit-content;
    font-family: 'Josefin Slab', sans-serif;
}

.title h2{
    font-size: 88px;
    font-weight: normal;
    color: #444623
}

.title p{
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    margin-top: 25px;
    color: #444623
}

.reference{
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    font-family: 'Josefin Slab', sans-serif;
    color: #444623;
    margin-top: 9em;
    margin-left: 2em;
    margin-bottom: 1em;
}


.welcome-section{
    padding: 6em;
    display: flex;
    background: #95A052;
    justify-content: center;
    font-family: 'Josefin Slab', sans-serif;
}

.welcome-article{
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 2em;
}

.intro-image{
    height: 40em;
    border-radius: 20px;
}

.welcome-article h2{
    color: #FFFFFF;
    font-size: 80px;
    font-weight: normal;
}

.welcome-text {
    color: #FFFFFF;
    font-size: 37px;
    margin-top: 15px;
}

.read-further-button{
 background-color: #FFFFFF;
    color: #34622C;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    font-size: 37px;
    margin-top: 50px;
    font-family: 'Josefin Slab', sans-serif;
}

.read-further-button:hover{
    background-color: grey;
    color: white;
}

/*.title {*/
    /*    position: absolute;*/
    /*    top: 50%; !* Position the title at the vertical center of the container *!*/
    /*    left: 30%; !* Position the title at the horizontal center of the container *!*/
    /*    transform: translate(-50%, -50%); !* Center the title *!*/
    /*    text-align: center; !* Align text to the center *!*/
/*}*/

/*.title h2,*/
/*.title p {*/
/*    font-family: 'Josefin Slab', sans-serif;*/
/*    color: #444623;*/
/*    margin: 10px 0; !* Add space above and below each element *!*/
/*}*/

/*.title h2 {*/
/*    font-size: 77px;*/
/*    font-weight: normal;*/
/*}*/

/*.title p {*/
/*    font-size: 40px;*/
/*    font-style: italic;*/
/*}*/

/*.reference{*/
/*    font-size: 40px;*/
/*    font-family: 'Josefin Slab', sans-serif;*/
/*    color: #444623;*/
/*    position: absolute;*/
/*    bottom: 0; !* Adjust the distance from the bottom as needed *!*/
/*    right: 10px;*/
/*}*/

/*.home-container1,*/
/*.home-container2{*/
/*    display: flex;*/
/*    background-color: #95A052;*/
/*}*/

/*.home-container2 h2, .home-container2 p {*/
/*    color: #ffffff ;*/
/*}*/

.science-part{
    background-color: #F6F0ED;
    font-family: 'Josefin Slab', sans-serif;
    margin-top: 50px;
}

.science-intro{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 60px;

}

.science-intro h2{
    font-size: 90px;
    font-weight: 420;
    color: #2d2222;
    margin-bottom: 25px;

}

.science-intro p{
    margin-top: -10px;
    color: #2d2222;
    font-size: 28px;
    width: 800px;
    text-align: center;
    font-weight: 370;
}

.cycle{
    width: 800px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.science-samples{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.homepage-ending{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 150px;
    margin-top: 60px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.sign-up-homepage, .log-in-homepage{
    font-size: 40px;
    font-family: 'Josefin Slab', sans-serif;
    padding: 20px 40px;
    border-radius: 20px;
    color: white;
    background: #7F9F65;
    transition: background-color 0.3s ease;
    border: #7F9F65;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign-up-homepage:hover, .log-in-homepage:hover{
    background-color: grey;
}


