
.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-part1 {
    width: 100%;
    height: 100vh;  /* Or adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;  /* Ensures no overflow of the image */
}

.background-image1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);  /* Centers the image */
    object-fit: cover;  /* Covers the entire area, may crop */
    z-index: -1;
}
.homepage-tagline {
    color: white;
    font-size: 4rem; /* Adjust size as needed */
    max-width: 80%; /* Keeps text within a manageable width */
    position: relative;
    z-index: 1;
    font-family: "Gruppo", sans-serif;
    background-color: rgba(68, 70, 35, 0.58);
    padding: 30px 30px;
    border-radius: 40px;
    margin-top: 250px;
}

.home-part2 {
    background-color: #ACB569; /* Light gray background for better contrast */
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 120px;
}

.home-profile-image {
    width: 400px; /* Ensures image takes full width of the section */
    height: auto;
    margin-bottom: 20px;
    border-radius: 60px;
}

.home-part2-info {
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

.homepage-quote{
    width: 800px;
    color: white;
    background-color: rgba(68, 70, 35, 0.58);
    padding: 20px;
    margin-left: -120px;
    margin-top: -80px;
    font-size: 25px;
    font-family: "La Belle Aurore", cursive;
    border-radius: 40px;
}


.home-part2-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

.home-image {
    width: 200px; /* Three images, minus margin */
    height: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 35px;/* Soft shadow for depth */
    object-fit: cover;
}


.cycle-synced{
    color: #F5F5F5;
    font-size: 80px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: "Gruppo", sans-serif;
}

.cycleliving-p{
    font-size: 33px;
    color: black;
    margin-left: 15px;
    margin-bottom: 25px;
    font-family: "Gruppo", sans-serif;
}


.mystory {
    background-color: #F5F5F5; /* Green background for the button */
    color: #34622C;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Gruppo", sans-serif;
    font-size: 30px;
    border-radius: 20px;
}

.mystory:hover {
    background-color: grey;
    color: white;
}
