.edit-post-page {
    width: 670px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-post-page h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.image-preview {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #7F9F65;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    align-self: center;
    padding: 15px 25px;
    font-family: "Josefin Sans", sans-serif;
}

button[type="submit"]:hover {
    background-color: #218838;
}
