/* Calendar.css */
.calendar-container {
    width: 470px;
    height: 480px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding: 20px;
    background-color: white;
}

.calendar-container h2 {
    color: black;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 40px;
}

.calendar-date-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-date-display button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.calendar-date-display div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.calendar-day-number {
    font-size: 120px;
    color: inherit; /* This ensures it takes the color from the parent element */
}

.calendar-day-name {
    font-size: 20px;
    color: #453;
}

.calendar-month-year {
    margin-bottom: 20px;
    font-size: 25px;
    color: #333;
}

.calendar-grid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 45px; /* Center the text vertically */
    margin-top: 5px;  /* Center the circle */
    color: black; /* Default text color */
}


.phase-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.phase-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background: gray;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.phase-button.active {
    transform: scale(1.2);
    font-weight: bold;
}


.calendar-day.menstruation { background-color:  var(--red); color: white; }
.calendar-day.follicular { background-color: var(--green); color: white; }
.calendar-day.ovulation { background-color: var(--orange); color: white; }
.calendar-day.luteal { background-color: var(--blue); color: white; }

.calendar-container h2.menstruation { color:  var(--red); }
.calendar-container h2.follicular { color: var(--green); }
.calendar-container h2.ovulation { color: var(--orange); }
.calendar-container h2.luteal { color: var(--blue); }


.calendar-container .menstruation .calendar-day-number { color:  var(--red); }
.calendar-container .follicular .calendar-day-number { color: var(--green); }
.calendar-container .ovulation .calendar-day-number { color: var(--orange); }
.calendar-container .luteal .calendar-day-number { color: var(--blue); }

.calendar-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
}

.calendar-buttons button:hover{
    background-color: grey;
    color: white;
}


.view-calendar {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 28px;
    border: none;
}

.questionmark {
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: 18px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform to the transition */
}

.questionmark:hover {
    transform: scale(1.1); /* Slightly increase the size */
}

