.vitaminC-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vitaminC {
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    text-align: center;
}


.vitaminC:hover {
    background-color: grey;
}


.vitaminC-description {
    position: absolute; /* Add this */
    top: 120px; /* Adjust as necessary */
    left: -150px; /* Align with the left border of the button */
    z-index: 10; /* Ensure it is above other elements */
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 750px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vitaminC-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 184px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}
