.phase1-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding-bottom: 200px;
}

.phase-welcome-script{
    font-size: 30px;
    font-family: "La Belle Aurore", cursive;
}

.phase1-title{
    text-align: center;
    font-size: 96px;
    color: var(--red);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}


.phase1-introduction{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 60px;
}


.phase1-intro-text{
    text-align: left;
    flex-direction: column;
    width: 580px;
    font-family: "Josefin Sans", sans-serif;
}

.phase1-intro-title{
    color: var(--red);
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 295px;
    padding: 15px;
    font-size: 33px;
    font-style: italic;
    text-align: center;
    font-weight: 600;

}

.phase1-intro-text p{
    font-size: 33px;
    color: #000000;
    width: 660px;
    font-weight: 250;
}


.phase-activities{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;

}

.phase1-activity{
    text-align: center;
    color: var(--red);
    font-size: 32px;
    font-style: italic;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.detox-image, .cook-image, .journal-image{
    width: 223px;
    height: 263px;
    border-radius: 40px;
    object-fit: cover;
}


.menstrualcycle{
    width: 800px;
    margin-top: 90px;
    border-radius: 40px;
    background-color: white;
    padding: 20px;
}

.menstrualcycle-subtext{
    text-align: center;
    color: black;
    font-size: 24px;
    font-style: italic;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    width: 800px;
}

.nutrient-wrapper{
    flex-direction: column;
    display: flex;
    margin-top: 110px;
}

.nutrient-title-p1{
    font-size: 64px;
    color: var(--red);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}


.nutrient-wrapper2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.nutrient-video{
    width: 450px;
    height: 820px;
    border-radius: 40px;
}

.nutrient-wrapper3{
    flex-direction: column;
    display: flex;
    margin-top: -50px;
}

.mealtip-phase1{
    flex-direction: row;
    display: flex;
    margin-bottom: 40px;
}

.meal1{
    width: 222px;
    height: 222px;
    border-radius: 40px;
    object-fit: cover;
}

.tip-phase1{
    max-width: 450px;
    text-align: left;
    font-family: "La Belle Aurore", cursive;
    font-size: 30px;
    align-content: center;
    margin-left: 15px;
}


.nutrient-subtitle{
    font-size: 36px;
    font-family: "Newsreader", serif;
    font-weight: 300;
}

.nutrients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 800px;
    gap: 30px;
    margin-top: 20px;
}

.red-background {
    background-color: var(--red);
}

.hormones-info-p1{
    width: 800px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 40px;
    margin-top: 40px;
}

.hormones-title-p1{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--red);
}

.hormones-info-p1 p{
    font-size: 27px;
    font-weight: 300;
}



.well-beingtips{
    background-color: white;
    flex-direction: column;
    width: 1000px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 40px;
    gap: 15px;
    text-align: center;
}

.well-beingtips h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: var(--red);
    margin-bottom: 15px;
}

.well-beingtips p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
}
