.indole-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indole {
    color: white;
    width: 350px;
    height: 90px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.indole h3{
    line-height: 90px; /* Match this to the height of the .indole element */
    text-align: center;
}


.indole:hover {
    background-color: grey;
}


.indole-description {
    position: absolute; /* Add this */
    top: 120px; /* Adjust as necessary */ /* Align with the left border of the button */
    left: 0px;
    z-index: 10;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 720px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.indole-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 150px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}
.indole-foods{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 25px;
}

.indole-1, .indole-2, .indole-3, .indole-4, .indole-5, .indole-6{
    flex-direction: row;
    display: flex;
    flex-basis: calc(50% - 26px);
}



.indole-image {
    width: 73px;
    height: 73px;
    border-radius: 50%; /* Makes the container a circle */
    overflow: hidden;
    display: flex; /* Ensure it acts as a flex container */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */

}

.indole-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without being distorted */
}

.indole-text{
    flex-direction: column;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.indole-text h3{
    font-size: 24px;
}

.indole-text p{
    font-style: italic;
    font-size: 20px;
}