
.welcome-phase-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F0ED;
    padding-bottom: 200px;
}


.welcome-phase-wrapper h1{
    text-align: center;
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--blue);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}


.welcome-phase-innercontainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.calendar{
    width: 570px;
    height: 550px;
}


.welcome-info{
    text-align: left;
    flex-direction: column;
    width: 566px;
    font-family: "Josefin Sans", sans-serif;
}

.welcome-info h3{
    color: var(--blue);
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 350px;
    padding: 15px;
    font-size: 33px;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.welcome-info ul, .welcome-info p{
    font-size: 33px;
    color: #000000;
    font-weight: 250;
    margin-left: 15px;
}

.welcome-info p{
    margin-top: 10px;
}

.welcome-info li{
    margin-top: 20px;
}

