.catechins-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catechins {
    color: white;
    width: 210px;
    height: 90px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    text-align: center;
}


.catechins:hover {
    background-color: grey;
}



.catechins-description {
    position: absolute; /* Add this */
    top: 120px; /* Adjust as necessary */ /* Align with the left border of the button */
    z-index: 10;
    left: -150px;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 650px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.catechins-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 240px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}


.catechins-foods{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 25px;
}

.catechins-1, .catechins-2, .catechins-3, .catechins-4, .catechins-5, .catechins-6{
    flex-direction: row;
    display: flex;
    flex-basis: calc(50% - 26px);
}



.catechins-image {
    width: 73px;
    height: 73px;
    border-radius: 50%; /* Makes the container a circle */
    overflow: hidden;
    display: flex; /* Ensure it acts as a flex container */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}


.catechins-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without being distorted */
}

.catechins-text{
    flex-direction: column;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.catechins-text h3{
    font-size: 24px;
}

.catechins-text p{
    font-style: italic;
    font-size: 20px;
}