.user-profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.user-profile-container {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1010;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.close-button:hover {
    color: #ff0000;
}

.user-profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}

.user-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.user-profile-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-profile-form-group label,
.user-profile-form-username label,
.user-profile-form-password label{
    font-weight: bold;
    color: #555;
    font-family: "Josefin Sans", sans-serif;
}

.user-profile-form-username input,
.user-profile-form-password input{
    margin-top: 4px;
    height: 30px;
    font-size: 16px;
}

.user-profile-form-group input,
.user-profile-form-group p {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 5px;
}

.edit-form-innercontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.user-profile-form-group button {
    background-color: #7AA04B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 7px;
}

.user-profile-form-group button:hover {
    background-color: #679A51;
}

.user-profile-form-username,
.user-profile-form-password {
    flex-direction: column;
    display: flex;
}

.user-profile-form-row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-left: 3px;
}

.user-profile-form-password{
    width: 280px;
}

#username-account {
    width: 100px;
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    cursor: not-allowed;
    padding-left: 5px;
}

.profile-buttons {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.profile-error-message,
.profile-success-message {
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
}

.profile-error-message {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    color: red;
}

.profile-success-message {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #679A51;
}

.email-error{
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-style: italic;
    color: red;
}
