@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500;600&display=swap');

:root {
  --green: #7EBC89;
  --green-light: #A1D2AA;

  --blue: #85ACF9;
  --blue-light: #A8C5FB;

  --red: #E3655B;
  --red-light: #F08A81;

  --orange: #F2C078;
  --orange-light: #F6D1A3;

  --background: #F6F0ED;
}

body {
  background-color: #F6F0ED;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: column;
}

