.phase3-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding-bottom: 200px;
}

.phase3-title{
    text-align: center;
    font-size: 96px;
    color: var(--orange);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.phase3-keywords{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.phase3-keywords h3{
    font-size: 36px;
    font-style: italic;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.phase3-keywords h3:hover {
    transform: scale(1.05); /* Slightly increase the size */
}

.phase-introduction{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 60px;
}

.calendar{
    width: 570px;
    height: 550px;
}

.phase3-intro-text{
    text-align: left;
    flex-direction: column;
    width: 640px;
    font-family: "Josefin Sans", sans-serif;
}

.phase3-intro-title{
    color: var(--orange);;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 33px;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    display: inline-block;

}

.phase3-intro-text p{
    font-size: 33px;
    color: #000000;
    font-weight: 250;
}


.phase-activities{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;

}

.activity{
    flex-direction: column;
}

.phase3-activity{
    text-align: center;
    color: var(--orange);
    font-size: 32px;
    font-style: italic;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.move-image, .DIY-image, .socializing-image{
    width: 223px;
    height: 263px;
    border-radius: 40px;
    object-fit: cover;
}


.menstrualcycle{
    width: 800px;
    margin-top: 90px;
    border-radius: 40px;
    background-color: white;
    padding: 20px;
}

.menstrualcycle-subtext{
    text-align: center;
    color: black;
    font-size: 24px;
    font-style: italic;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    width: 820px;
}






.nutrient-wrapper{
    flex-direction: column;
    display: flex;
    margin-top: 110px;
}

.nutrient-title-p3{
    font-size: 64px;
    color: var(--orange);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px;
}

.nutrient-wrapper2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.nutrient-video{
    width: 450px;
    height: 820px;
    border-radius: 40px;
}

.connect-p3{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: var(--orange);
    font-style: italic;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.socialmedia{
    flex-direction: row;
    display: flex;
    margin-left: 20px;
}

.instagram-icon{
    width: 40px;
}


.socialhandle{
    margin-left: 18px;
    border-radius: 15px;
    font-family: "Newsreader", serif;
    font-weight: 300;
    font-size: 30px;
    color: black;
    margin-top: 5px;
}




.orange-background {
    background-color: var(--orange);
}


.nutrient-wrapper3{
    flex-direction: column;
    display: flex;
    margin-top: -50px;
}

.nutrient-subtitle{
    font-size: 36px;
    font-family: "Newsreader", serif;
    font-weight: 300;
}



.nutrients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 800px; /* Set the max width */
    gap: 30px; /* Adjust gap between items */
    margin-top: 20px;
}

.orange-background {
    background-color: var(--orange);
}


.hormones-info-p3{
    width: 800px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 40px;
    margin-top: 60px;
}

.hormones-title-p3{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 8px;
    color: var(--orange);
}

.hormones-info-p3 p{
    font-size: 27px;
    font-weight: 300;
}



.ending-ovulation{
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content; /* Adjust this based on your layout */
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.mealtip-phase3{
    flex-direction: row;
    display: flex;
    margin-bottom: 40px;
}

.meal3{
    width: 222px;
    height: 222px;
    border-radius: 40px;
    object-fit: cover;
}

.tip-phase3{
    max-width: 500px;
    font-family: "La Belle Aurore", cursive;
    font-size: 30px;
    align-content: center;
    margin-left: 25px;
    text-align: left;
}


.phase3-well-beingtips{
    background-color: white;
    flex-direction: column;
    width: 1000px;
    margin-top: 40px;
    padding: 40px;
    border-radius: 40px;
    gap: 15px;
    text-align: center;
    margin-left: 120px;
}

.phase3-well-beingtips h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: var(--orange);
    margin-bottom: 15px;
}

.phase3-well-beingtips p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
}