.iron-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iron {
    color: white;
    padding: 20px;
    width: 120px;
    height: 90px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iron:hover {
    background-color: grey;
}

.iron h3{
    margin-left: 5px;
    margin-top: 9px;
}

.iron-description {
    position: absolute; /* Add this */
    top: 120px; /* Adjust as necessary */
    left: 0px;
    z-index: 10;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 600px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.iron-description::before {
    content: "";
    position: absolute;
    top: -20px; /* Adjust to position the arrow */
    left: 50px; /* Adjust to align with the button */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}
